@{
    ViewData["Title"] = "CS:GO Matches";
}

<style>
    .box1 {
        width: 40%;
        height: 100%;
        display: flex;
        flex-flow: column wrap;
    }

    .box {
        width: 50%;
        height: 100%;
        display: flex;
        flex-flow: column wrap;
        margin-top: 60%;
    }

    .logo {
        max-width: 100%;
        height: auto;
    }

    table {
        border-collapse: collapse;
        width: 95%;
    }

    th {
        border: 1px solid black;
        padding: 10px;
    }

    td {
        border: 1px solid black;
        padding: 10px;
    }

    h3 {
        text-align: center;
    }

    .box2 {
        width: calc(95% / 2);
        height: 20%;
        display: inline-block;
    }

    caption {
        color: black;
        text-decoration: underline;
    }

    .alinhar {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .alinhar2 {
        display: inline-block;
        align-items: center;
        justify-content: center;
    }

    .center {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .my-div {
        width: 100%;
        display: flex;
        flex-direction: row;
        height: 50px;
        margin: 10px;
    }
    
    
    .my-div > div {
        flex-basis: 25%;
        flex-grow: 1;
    }

    .my-div2 > div {
        width: 100%
    }

    span {
        font-weight: bold;
    }


    .span2 {
        font-weight: normal;
    }

    .span3 {
        font-weight: normal;
    }

    .central {
        text-align: center;
        background-color: white;
    }

    .ola {
        display: flex;
        align-self: flex-start;
    }

    .buttons {
        display: flex;
        margin-bottom: 30px;
        margin-right: 25%;
        justify-content: right;
    }

    .search-container {
        display: flex;
        align-items: center;
    }

    .dropdown-content a {
        background-color: white;
        display: block;
        color: #000;
        padding: 10px;
        text-decoration: none;
        border: 1px solid black;
    }

    .dropdown {
        margin-left: 10px;
        background-color: #e0eeff;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        border: 1px solid black;
    }

    .dropdown-content a:hover {
        background-color: #bf7b8e;
    }

    .button2 {
        background-color: #e0eeff;
        color: black;
        width: 100%;
        padding: 10px 20px;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        z-index: 1;
        margin-left: 5%;
    }

    .button:hover {
        background-color: #2980b9;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .central {
        width: 100%;
        margin: 0 auto;
        text-align: center;
        height: 100%;
        background-color: white;
    }

    .search-container input[type="text"] {
        background-color: #e0eeff;
        color: black;
        width: 100%;
        padding: 10px 20px;
        border: 1px solid black;
    }

    .search-container img {
        margin-right: 10px;
        height: 30px;
        width: 30px;
    }
</style>
<body class="bodytemp">
    <div class="" style="padding:1%;">
        <div class="buttons">
            <div class="dropdown">
                <button class="button2">Sort by</button>
                <div class="dropdown-content">
                    <a href="@Url.Action("CSGOMatches", "Matches", new { sort = "", filter = ViewBag.filter})">Newest</a>
                    <a href="@Url.Action("CSGOMatches", "Matches", new { sort = "&sort=begin_at", filter = ViewBag.filter})">Oldest</a>
                    <a href="@Url.Action("CSGOMatches", "Matches", new { sort = "tournament", filter = ViewBag.filter})">Event Name</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="button2">Filter by</button>
                <div class="dropdown-content">
                    <a href="@Url.Action("CSGOMatches", "Matches", new { sort = ViewBag.sort, filter = "detailed_stats"})">Have Stats</a>
                    <a href="@Url.Action("CSGOMatches", "Matches", new { sort = ViewBag.sort, filter = "livestream"})">Have livestream</a>
                </div>
            </div>

        </div>
        <div class="ola " style="border-radius:15px;">
            <div class="box darkcolor bordercolor" style="border-radius:15px;margin-top:0px;width:30%;padding:1%">
                <h4 style="font-weight: bold;text-align:center;">Finished Matches</h4>
                @foreach (var item in ViewBag.pastMatches)
                {
                    <div class="alinhar bordercolor" style=" border-radius:15px;border-bottom: 1px solid black;  margin-top: 2%; margin-bottom: 2%">
                        <div class="my-div2 my-divColor" style="width:90%;">
                            <div>
                                <span class="span2" style="margin-top:10px;">@item.BeginAt.ToString("dd/MM/yyyy hh:mm")</span>
                            </div>

                            <div>
                                <span style="text-align: center;">

                                    <p style="font-size:25px">
                                        <img src=@item.TeamsList[0].Image alt="logo" style="width:15%">
                                        <span> @item.TeamsList[0].Name </span>
                                        @foreach (var team in item.Scores)
                                        {
                                            @if (item.TeamsList[0].Name == team.TeamName)
                                            {
                                                <span class="span2"> @team.TeamScore </span>
                                            }
                                        }
                                        <span class="span2"> - </span>
                                        @foreach (var team in item.Scores)
                                        {
                                            @if (item.TeamsList[1].Name == team.TeamName)
                                            {
                                                <span class="span2"> @team.TeamScore </span>
                                            }
                                        }
                                        <span> @item.TeamsList[1].Name </span>
                                        <img src=@item.TeamsList[1].Image alt="logo" style="width:15%">                                      
                                    </p>
                                </span>
                            </div>

                            <div style="text-align:left; display: flex;">
                                <p>Best of @item.NumberOfGames</p>
                                <a href="#" style="justify-content: space-around; margin-left: auto;">More details</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="box bordercolor" style="margin-top:0px; border-radius:15px;margin-left: 2%;margin-right: 2%; width:60%">
                <table class="colorformatch tablecolors" style="width:100%; border-radius:15px;">
                    @foreach (var item in ViewBag.runningMatches)
                    {
                        <tr  style="border-radius:15px; width:100%">
                            <td class="tablecolors" style="width:100%; border-radius:15px;">
                                <div class="my-div2 colorformatch" style="width:100%;">
                                    <div style="text-align:center">
                                        <h4 style="font-weight: bold;text-align:center;">@item.EventName</h4>
                                    </div>
                                    <div class="bordercolor" style="border-radius:15px;">
                                        <table class="bordercolor2" style="margin:auto;text-align:center;">
                                            <tr>
                                                <td class="tablecolors" style="">
                                                    <span>
                                                        <img src=@item.TeamsList[0].Image width="82px" height="auto" />
                                                    </span>
                                                </td>
                                                <td class="tablecolors">
                                                    <img src="/images/live.png" style="width: 35%">
                                                </td>
                                                <td class="tablecolors">
                                                    <span>
                                                        <img src=@item.TeamsList[1].Image width="82px" height="auto" />
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="tablecolors">
                                                    <span> @item.TeamsList[0].Name </span>
                                                <td class="tablecolors">
                                                    <span>vs</span>
                                                </td>
                                                <td class="tablecolors">
                                                    <span> @item.TeamsList[0].Name </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                @foreach (var team in item.Scores)
                                                {
                                                    @if (item.TeamsList[0].Name == team.TeamName)
                                                    {
                                                        <td class="tablecolors">
                                                            <span class="span2"> @team.TeamScore </span>
                                                        </td>
                                                    }
                                                }
                                                <td class="tablecolors">
                                                    <span class="span2"> vs </span>
                                                </td>
                                                @foreach (var team in item.Scores)
                                                {
                                                    @if (item.TeamsList[1].Name == team.TeamName)
                                                    {
                                                        <td class="tablecolors">
                                                            <span class="span2"> @team.TeamScore </span>
                                                        </td>
                                                    }
                                                }
                                            </tr>
                                            <tr>
                                                <td class="tablecolors">
                                                    <p>Best of @item.NumberOfGames</p>
                                                </td>
                                                <td class="tablecolors">
                                                    <p/>
                                                </td>
                                                <td class="tablecolors">
                                                    <a href="#">More details</a>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </table>
            </div>

            <div class="box darkcolor bordercolor" style="margin-top:0px; border-radius:15px;width:30%; padding:1%">
                <h4 style="font-weight: bold;text-align:center;">Upcoming Matches</h4>
                @foreach (var item in ViewBag.upcomingMatches)
                {
                    <div class="alinhar bordercolor" style="border-bottom: 1px solid black; border-radius:15px; margin-top: 2%; margin-bottom: 2%;">
                        <div class="my-div2 " style="width:90%;">
                            <div>
                                <span class="span2" style="margin-top:10px;">@item.BeginAt.ToString("dd/MM/yyyy hh:mm")</span>
                            </div>
                            <div>
                                <span style="text-align: center;">
                                    <p style="font-size:25px">
                                        <img src=@item.TeamsList[0].Image alt="logo" style="width:15%">
                                        <span> @item.TeamsList[0].Name </span>
                                        <span class="span2"> vs </span>
                                        <span> @item.TeamsList[1].Name </span>
                                        <img src=@item.TeamsList[1].Image alt="logo" style="width:15%">
                                    </p>
                                </span>
                            </div>
                            <div style="text-align:left; display: flex;">
                                        <p>Best of @item.NumberOfGames</p>
                                <a href="#" style="justify-content: space-around; margin-left: auto;">More details</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</body>