@using System.Collections;
@using FPTV.Models.UserModels;
@using System.Globalization;
@{
    ViewData["Title"] = "MatchDetails";
    
}
@using FPTV.Models.StatisticsModels

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>

<style>


    .logo {
        max-width: 100%;
        height: auto;
    }

    table {
        border-collapse: collapse;
        width: 95%;
    }

    h3 {
        text-align: center;
    }

    .box2 {
        width: calc(95% / 2);
        height: 20%;
        display: inline-block;
    }

    caption {
        color: black;
        text-decoration: underline;
    }

    .alinhar {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .alinhar2 {
        display: inline-block;
        align-items: center;
        justify-content: center;
    }

    .center {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .my-div {
        width: 100%;
        display: flex;
        flex-direction: row;
        height: 50px;
        margin: 10px;
    }

        .my-div > div {
            flex-basis: 25%;
            flex-grow: 1;
        }

    .my-div2 > div {
        width: 100%
    }

    bestof {
        font-weight: normal;
    }


    .span2 {
        font-weight: normal;
    }

    .span3 {
        font-weight: normal;
    }

    .central {
        text-align: center;
        background-color: white;
    }

    .ola {
        display: flex;
        align-self: flex-start;
    }

    .buttons {
        display: flex;
        margin-bottom: 30px;
        margin-right: 25%;
        justify-content: right;
    }

    .search-container {
        display: flex;
        align-items: center;
    }

    .dropdown-content a {
        background-color: white;
        display: block;
        color: #000;
        padding: 10px;
        text-decoration: none;
        border: 1px solid black;
    }

    .dropdown {
        margin-left: 10px;
        background-color: #e0eeff;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        border: 1px solid black;
    }

    .dropdown-content a:hover {
        background-color: #bf7b8e;
    }

    .button2 {
        background-color: #e0eeff;
        color: black;
        width: 100%;
        padding: 10px 20px;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        z-index: 1;
        margin-left: 5%;
    }

    .button:hover {
        background-color: #2980b9;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .central {
        width: 100%;
        margin: 0 auto;
        text-align: center;
        height: 100%;
       
    }

    .search-container input[type="text"] {
        background-color: #e0eeff;
        color: black;
        width: 100%;
        padding: 10px 20px;
        border: 1px solid black;
    }

    .search-container img {
        margin-right: 10px;
        height: 30px;
        width: 30px;
    }

    
</style>
<body class="bodytemp">
    <div class="" style="padding:1%;">
        <div class="ola">

            <div class="box1" style="border-radius:15px;">

                <div class="darkcolor borders bordercolor" style="border-radius:15px">

                    <a style="text-decoration: none" href="@Url.Action("getTeam", "Stats", new {id = @ViewBag.matches.TeamsList[0].TeamAPIID, type = @ViewBag.matches.TimeType.ToString().ToLower() ,game = ViewBag.dropDownGame})" style="justify-content: space-around; margin-left: auto; margin-bottom:0px">
                    <h4 style="font-weight: bold;text-align:center;">@ViewBag.matches.TeamsList[0].Name</h4>
                    </a>

                    @*<h4 style="font-weight: bold;text-align:center;">@ViewBag.matches.TeamsList[0].Name</h4>*@
                    @if (((List<Player>)@ViewBag.matches.TeamsList[0].Players).Count() != 0)
                    {
                        @foreach (var item in @ViewBag.matches.TeamsList[0].Players)
                        {
                            <div style="display:flex;align-items: center;">
                                <div class="" style="padding:10px;width:50%;text-align:right">
                                    <a style="text-decoration: none" href="@Url.Action("getPlayer", "Stats", new {id = item.PlayerAPIId, type = @ViewBag.matches.TimeType.ToString().ToLower() ,game = ViewBag.dropDownGame})" style="justify-content: space-around; margin-left: auto; margin-bottom:0px">
                                        <img src=@item.Image style="width:50%;height:auto" />
                                    </a>
                                </div>
                                <div style="width:50%; text-align:left">
                                    <a style="text-decoration: none" href="@Url.Action("getPlayer", "Stats", new {id = item.PlayerAPIId, type = @ViewBag.matches.TimeType.ToString().ToLower() ,game = ViewBag.dropDownGame})" style="justify-content: space-around; margin-left: auto; margin-bottom:0px">
                                        <p style="margin:auto"> @item.Name </p>
                                    </a>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <span>No Players Found</span>
                    }
                </div>

                @if (@ViewBag.matches.NumberOfGames != 1 && ViewBag.matches.TimeType.ToString().ToLower() != "upcoming")
                {
                    var lista = (List<string>)ViewBag.pickedMaps;
                    <div class=" darkcolor borders bordercolor" style="margin-top: 5%;border-radius:15px;">
                        <p>
                            1. @ViewBag.matches.TeamsList[0].Name removed @ViewBag.removedMaps[0]
                        </p>
                        <p>
                            2. @ViewBag.matches.TeamsList[1].Name removed @ViewBag.removedMaps[1]
                        </p>
                        <p>
                            3. @ViewBag.matches.TeamsList[0].Name picked @ViewBag.pickedMaps[0]
                        </p>
                        <p>
                            4. @ViewBag.matches.TeamsList[1].Name picked @ViewBag.pickedMaps[1]
                        </p>
                        @if (lista.Count() > 3)
                        {
                            <p>
                                5. @ViewBag.matches.TeamsList[0].Name picked @ViewBag.pickedMaps[2]
                            </p>
                            <p>
                                6. @ViewBag.matches.TeamsList[1].Name picked @ViewBag.pickedMaps[3]
                            </p>
                        }
                        else
                        {
                            <p>
                                5. @ViewBag.matches.TeamsList[0].Name removed @ViewBag.removedMaps[2]
                            </p>
                            <p>
                                6. @ViewBag.matches.TeamsList[1].Name removed @ViewBag.removedMaps[3]
                            </p>
                        }
                        <p>
                            7. @ViewBag.pickedMaps[lista.Count() - 1] was left over
                        </p>
                    </div>
                }
            </div>


            @* -------------------------------------------------------------------------------*@
            <div class="alinhar">
                <div class="my-div2" style="width:80%; ">
                    @for (int i = 0; i < ((List<string>)ViewBag.mapsNames).Count(); i++)
                    {
                        var lista = (List<string>)ViewBag.pickedMaps;
                        @if (ViewBag.mapsNames[i] == ViewBag.pickedMaps[lista.Count() -1] && ViewBag.matches.TimeType.ToString().ToLower() != "upcoming")
                        {
                            var image = ViewBag.mapsImages[i];
                            <div class="bordercolor backMap whitecolor" style="border-radius:15px;padding:1%; width:100%;background-image:url(@image)">

                                <a style="text-decoration:none; color:unset" href="@Url.Action("Details", "Events", new { id = ViewBag.matches.EventAPIID, sort = ViewBag.sort, game = ViewBag.dropDownGame})">
                                    <h2>
                                        <span class="alinhar stroke">@ViewBag.matches.EventName</span>
                                    </h2>
                                </a>

                                @if (ViewBag.matches.TimeType.ToString().ToLower() == "running")
                                {
                                    <div style="width:100%; justify-content: center;display: flex;">
                                        <img src="~/images/live2.png" style="width:20%" />
                                    </div>
                                }

                                @if (ViewBag.matches.TimeType.ToString().ToLower() == "upcoming")
                                {
                                    <div style="width:100%; justify-content: center;display: flex;">
                                        <span>
                                            Not Starded
                                        </span>
                                    </div>
                                }

                                <div class="stroke " style="border-top-left-radius:15px;border-top-right-radius:15px; " name="FirstTeam">

                                    <div style="display:flex;width:100%;margin:auto; justify-content:center ">
                                        <span style=" display: flex;align-items: center;justify-content: center;margin:auto">
                                            <img onclick="location.href = '@Url.Action("getTeam", "Stats", new {id = @ViewBag.matches.TeamsList[0].TeamAPIID, game = ViewBag.dropDownGame})'" src=@ViewBag.matches.TeamsList[0].Image style="width:100px" />
                                        </span>
                                        <span style="text-align: center;font-weight:bold;font-size:15px;margin:auto;font-size:25px"> vs </span>

                                        <span style=" display: flex;align-items: center;justify-content: center;margin:auto">
                                            <img onclick="location.href = '@Url.Action("getTeam", "Stats", new {id = @ViewBag.matches.TeamsList[1].TeamAPIID, game = ViewBag.dropDownGame})'" src=@ViewBag.matches.TeamsList[1].Image style="width:100px" />
                                        </span>
                                    </div>


                                    <div class="stroke" style="display:flex; margin-top:3%;margin-bottom:3%;margin-left:0px; padding:0px">
                                        <span onclick="location.href = '@Url.Action("getTeam", "Stats", new {id = @ViewBag.matches.TeamsList[0].TeamAPIID, game = ViewBag.dropDownGame})'" style="font-weight:bold; width:50%;text-align:center;font-size:25px"> @ViewBag.matches.TeamsList[0].Name </span>
                                        <span onclick="location.href = '@Url.Action("getTeam", "Stats", new {id = @ViewBag.matches.TeamsList[1].TeamAPIID, game = ViewBag.dropDownGame})'" style="font-weight:bold; width:50%;text-align:center;font-size:25px"> @ViewBag.matches.TeamsList[1].Name </span><br />
                                    </div>

                                    @if (ViewBag.matches.TimeType.ToString().ToLower() != "upcoming")
                                    {
                                        <span class="stroke2" style="width:100%;display:flex;justify-content:center">
                                            @if (ViewBag.matches.Scores[0].TeamScore == 0)
                                            {
                                                Random rnd = new Random();
                                                <span style="text-align: center;font-size:25px" class="span2"> @rnd.Next(14) </span>
                                                <span style="text-align: center;font-size:25px">-</span>
                                                <span style="text-align: center;font-size:25px" class="span2"> @rnd.Next(14) </span>
                                            }
                                            else if (ViewBag.matches.Scores[0].TeamScore != 0)
                                            {
                                                Random rnd = new Random();
                                                <span style="text-align: center;font-size:25px" class="span2"> 16 </span>
                                                <span style="text-align: center;font-size:25px">-</span>
                                                <span style="text-align: center;font-size:25px" class="span2"> @rnd.Next(14) </span>
                                            }
                                            else
                                            {
                                                Random rnd = new Random();
                                                <span style="text-align: center;font-size:25px" class="span2"> @rnd.Next(14) </span>
                                                <span style="text-align: center;font-size:25px">-</span>
                                                <span style="text-align: center;font-size:25px" class="span2"> 16 </span>
                                            }
                                        </span>
                                    }

                                </div>
                                <div>
                                    <div class="" style="display:flex; text-align:left;width:100%;margin-top:3%;margin-bottom:3%">
                                        <span class="bestof" style="text-align:left">Best of @ViewBag.matches.NumberOfGames</span>
                                        @if (ViewBag.matches.TimeType.ToString().ToLower() != "upcoming")
                                        {
                                            <span style="margin:auto">@ViewBag.pickedMaps[lista.Count() -1]</span>
                                        }
                                        else
                                        {
                                            <span style="margin:auto"> </span>
                                        }
                                        <span style="text-align:right">Tier: @Char.ToUpper(ViewBag.matches.Tier)</span><br />

                                    </div>

                                    <div class="" style="display:flex; text-align:left;width:100%;margin-top:3%;margin-bottom:3%">
                                        @if (ViewBag.matches.TimeType.ToString().ToLower() != "upcoming")
                                        {
                                            Random rnd = new Random();
                                            <span class="bestof" style="text-align:left">Duration: @(rnd.Next(15) + 45) min</span>
                                        }
                                        <span style="margin:auto"> </span>
                                        <span style="text-align:right;"> @ViewBag.matches.BeginAt.ToString("dddd - dd-MM-yyyy hh:mm") </span><br />
                                    </div>

                                    @*<div style="display:flex; width:100%; padding:0px;">
                                <span style="width:100%">
                                <span style="text-align:left;margin-top:1%;margin-bottom:0px;font-size:15px; width:50%"> Duration: 53min    </span>
                                <span style="text-align:right;margin-top:1%;margin-bottom:0px;font-size:15px;width:50% "> Saturday - @ViewBag.matches.BeginAt.ToString("dd-MM-yyyy hh:mm")    </span>
                                </span>
                            </div>*@
                                </div>
                            </div>
                        }
                    }

                    @if (ViewBag.matches.TimeType.ToString().ToLower() == "upcoming")
                    {
                        <div class="bordercolor backMap blackcolor" style="border-radius:15px;padding:1%; width:100%">

                            <h2><span class="alinhar">@ViewBag.matches.EventName</span></h2>

                            @if (ViewBag.matches.TimeType.ToString().ToLower() == "running")
                            {
                                <div style="width:100%; justify-content: center;display: flex;">
                                    <img src="~/images/live2.png" style="width:20%" />
                                </div>
                            }

                            @if (ViewBag.matches.TimeType.ToString().ToLower() == "upcoming")
                            {
                                <div style="width:100%; justify-content: center;display: flex;">
                                    <span>
                                        Not Starded
                                    </span>
                                </div>
                            }

                            <div class=" " style="border-top-left-radius:15px;border-top-right-radius:15px; " name="FirstTeam">

                                <div style="display:flex;width:100%;margin:auto; justify-content:center; ">
                                    <a href="@Url.Action("getTeam", "Stats", new {id = @ViewBag.matches.TeamsList[0].TeamAPIID, type = @ViewBag.matches.TimeType.ToString().ToLower() ,game = ViewBag.dropDownGame})" style="justify-content: space-around; margin-left: auto; margin-bottom:0px">
                                    <span style=" display: flex;align-items: center;justify-content: center;margin:auto;font-weight:500" class="stroke">                                       
                                        <img src=@ViewBag.matches.TeamsList[0].Image style="width:100px" />                               
                                    </span>
                                    </a>
                                    <span class="stroke" style="text-align: center;font-weight:bold;font-size:15px;margin:auto;font-size:25px;font-weight:700"> vs </span>

                                    <span class="stroke" style=" display: flex;align-items: center;justify-content: center;margin:auto">
                                        <a href="@Url.Action("getTeam", "Stats", new {id = @ViewBag.matches.TeamsList[1].TeamAPIID, type = @ViewBag.matches.TimeType.ToString().ToLower() ,game = ViewBag.dropDownGame})" style="justify-content: space-around; margin-left: auto; margin-bottom:0px">
                                        <img src=@ViewBag.matches.TeamsList[1].Image style="width:100px" />
                                        </a>
                                    </span>
                                </div>
                                <div style="display:flex; margin-top:3%;margin-bottom:3%;margin-left:0px; padding:0px;font-size:25px">
                                    <span class="stroke" style="font-weight:bold; width:50%;text-align:center;font-weight:700"> @ViewBag.matches.TeamsList[0].Name </span>
                                    <span class="stroke" style="font-weight:bold; width:50%;text-align:center;font-weight:700"> @ViewBag.matches.TeamsList[1].Name </span><br />
                                </div>

                                @if (ViewBag.matches.TimeType.ToString().ToLower() != "upcoming")
                                {
                                    <span style="width:100%;display:flex;justify-content:center">
                                        @if (ViewBag.matches.Scores[1].TeamScore != 0)
                                        {
                                            Random rnd = new Random();
                                            <span style="text-align: center;font-size:25px" class="span2"> 16 </span>
                                            <span style="text-align: center;font-size:25px">-</span>
                                            <span style="text-align: center;font-size:25px" class="span2"> @rnd.Next(14) </span>
                                        }
                                        else
                                        {
                                            Random rnd = new Random();
                                            <span style="text-align: center;font-size:25px" class="span2"> @rnd.Next(14) </span>
                                            <span style="text-align: center;font-size:25px">-</span>
                                            <span style="text-align: center;font-size:25px" class="span2"> 16 </span>
                                        }
                                    </span>
                                }

                            </div>
                            
                            <div class="" style="display:flex; text-align:left;width:100%;margin-top:3%;margin-bottom:3%">
                                <span class="bestof " style="text-align:left;font-weight:700">Best of @ViewBag.matches.NumberOfGames</span>
                                @if (ViewBag.matches.TimeType.ToString().ToLower() != "upcoming")
                                {
                                    <span style="margin:auto;font-weight:700">@ViewBag.pickedMaps[0]</span>
                                }
                                else
                                {
                                    <span style="margin:auto"> </span>
                                }
                                <span style="text-align:right;font-weight:700">Tier:@ViewBag.matches.Tier</span><br />

                            </div>

                            <div class="" style="display:flex; text-align:left;width:100%;margin-top:3%;margin-bottom:0px">
                                @if (ViewBag.matches.TimeType.ToString().ToLower() != "upcoming")
                                {
                                    Random rnd = new Random();
                                    <span class="bestof" style="text-align:left;margin-top:0pc;margin-bottom:0px;font-weight:700">Duration: @(rnd.Next(15) + 45) min</span>
                                }
                                <span style="margin:auto;margin-top:0pc;margin-bottom:0px;font-weight:700"> </span>
                                <span style="text-align:right;margin-top:0pc;margin-bottom:0px;font-weight:700;"> @ViewBag.matches.BeginAt.ToString("dddd - dd-MM-yyyy hh:mm") </span><br />
                            </div>

                                @*<div style="display:flex; width:100%; padding:0px;">
                            <span style="width:100%">
                            <span style="text-align:left;margin-top:1%;margin-bottom:0px;font-size:15px; width:50%"> Duration: 53min    </span>
                            <span style="text-align:right;margin-top:1%;margin-bottom:0px;font-size:15px;width:50% "> Saturday - @ViewBag.matches.BeginAt.ToString("dd-MM-yyyy hh:mm")    </span>
                            </span>
                            </div>*@
                        </div>
                    }

                    @if (ViewBag.matches.TimeType.ToString().ToLower() != "upcoming")
                    {
                        @if (((IList)ViewBag.pickedMaps).Count > 1)
                        {
                            <div class="darkcolor bordercolor" style="border-radius:15px; margin-top:5%">
                                <div class="" style="font-weight:bold;font-size:20px; text-align:center">
                                    <span>Maps</span>
                                </div>
                                <div style=" display:flex;width:100%;padding:1%">

                                    @for (int i = 0; i < ((List<string>)ViewBag.mapsNames).Count(); i++)
                                    {
                                        if (ViewBag.mapsNames[i] == ViewBag.pickedMaps[0])
                                        {
                                            var nGames = ViewBag.matches.Scores[0].TeamScore + ViewBag.matches.Scores[1].TeamScore;
                                            var image = ViewBag.mapsImages[i];
                                            <div class="bordercolor whitecolor backMap1 stroke2" style="width:40% ;border-radius:15px;margin:auto;font-weight:700;background-image:url(@image)" name="Maps">
                                                <span style="text-align: left;margin-left:38%;font-weight:700"> @ViewBag.pickedMaps[1] </span><br />
                                                @if (nGames > 1)
                                                {
                                                    @if (ViewBag.matches.Scores[1].TeamScore != 0)
                                                    {
                                                        Random rnd = new Random();
                                                        <span style="text-align: left;margin-left:38%;font-weight:700" class="span2"> @rnd.Next(14) vs 16</span>
                                                    }
                                                    else
                                                    {
                                                        Random rnd = new Random();
                                                        <span style="text-align: left;margin-left:38%;font-weight:700" class="span2"> 16 vs @rnd.Next(14) </span>
                                                    }
                                                    <br />
                                                }
                                                <p style="text-align: center;margin-bottom:0px;font-weight:700"> Picked up by
                                                <p style="text-align: center;margin-top:0px;margin-bottom:0px;font-weight:700"> @ViewBag.matches.TeamsList[0].Name</p>
                                                @if (nGames > 1)
                                                {
                                                    Random rnd = new Random();
                                                    <p style="margin-top:1%;margin-bottom:2px;font-size:15px; margin-left:2%;font-weight:700"> Duration: @(rnd.Next(15) + 45) min </p>
                                                }

                                            </div>
                                        }
                                    }
                                    @if (((IList)ViewBag.pickedMaps).Count > 2)
                                    {
                                        @for (int i = 0; i < ((List<string>)ViewBag.mapsNames).Count(); i++)
                                        {
                                            if (ViewBag.mapsNames[i] == ViewBag.pickedMaps[1])
                                            {
                                                var nGames = ViewBag.matches.Scores[0].TeamScore + ViewBag.matches.Scores[1].TeamScore;
                                                var image = ViewBag.mapsImages[i];
                                                <div class=" bordercolor whitecolor backMap2 stroke2" style="width:40% ;border-radius:15px;font-weight:700;margin:auto;background-image:url(@image)" name="Maps">
                                                    <span style="text-align: center;margin-left:38%;font-weight:700"> @ViewBag.pickedMaps[2] </span><br />
                                                    @if (nGames > 2)
                                                    {
                                                        @if (ViewBag.matches.Scores[0].TeamScore > 1)
                                                        {
                                                            Random rnd = new Random();
                                                            <span style="text-align: left;margin-left:38%;font-weight:700" class="span2"> 16 vs @rnd.Next(14) </span>
                                                        }
                                                        else
                                                        {
                                                            Random rnd = new Random();
                                                            <span style="text-align: left;margin-left:38%;font-weight:700" class="span2"> @rnd.Next(14) vs 16</span>
                                                        }
                                                    }

                                                    <p style="text-align: center;margin-bottom:0px;font-weight:700"> Picked up by</p>
                                                    <p style="text-align: center;margin-top:0px;margin-bottom:0px;font-weight:700"> @ViewBag.matches.TeamsList[1].Name</p>
                                                    @if (nGames > 2)
                                                    {
                                                        Random rnd = new Random();
                                                        <p style="margin-top:1%;margin-bottom:2px;font-size:15px;font-weight:700; margin-left:2%;"> Duration: @(rnd.Next(15) + 45) min    </p>
                                                    }
                                                </div>
                                            }
                                        }
                                    }
                                </div>

                                @if (((IList)ViewBag.pickedMaps).Count > 3)
                                {
                                    <div style=" display:flex;width:100%;padding:1%">

                                        @for (int i = 0; i < ((List<string>)ViewBag.mapsNames).Count(); i++)
                                        {
                                            if (ViewBag.mapsNames[i] == ViewBag.pickedMaps[2])
                                            {
                                                var nGames = ViewBag.matches.Scores[0].TeamScore + ViewBag.matches.Scores[1].TeamScore;
                                                var image = ViewBag.mapsImages[i];
                                                <div class="bordercolor backMap1" style="width:40% ;border-radius:15px;margin:auto;background-image:url(@image)" name="Maps">
                                                    <span style="text-align: left;margin-left:38%;font-weight:bold"> @ViewBag.pickedMaps[0] </span><br />
                                                    @if (nGames > 3)
                                                    {
                                                        @if (ViewBag.matches.Scores[1].TeamScore > 1)
                                                        {
                                                            Random rnd = new Random();
                                                            <span style="text-align: left;margin-left:38%;font-weight:700" class="span2"> @rnd.Next(14) vs 16</span>
                                                        }
                                                        else
                                                        {
                                                            Random rnd = new Random();
                                                            <span style="text-align: left;margin-left:38%;font-weight:700" class="span2"> 16 vs @rnd.Next(14) </span>
                                                        }
                                                    }
                                                    <p style="text-align: center;font-weight:bold;margin-bottom:0px"> Picked up by
                                                    <p style="text-align: center;margin-top:0px;margin-bottom:0px"> @ViewBag.matches.TeamsList[0].Name</p>
                                                    @if (nGames > 3)
                                                    {
                                                            Random rnd = new Random();
                                                        <p style="margin-top:1%;margin-bottom:2px;font-size:15px; margin-left:2%;"> Duration: @(rnd.Next(15) + 45) min    </p>
                                                    }
                                                </div>
                                            }
                                        }

                                        @for (int i = 0; i < ((List<string>)ViewBag.mapsNames).Count(); i++)
                                        {
                                            if (ViewBag.mapsNames[i] == ViewBag.pickedMaps[3])
                                            {
                                                var nGames = ViewBag.matches.Scores[0].TeamScore + ViewBag.matches.Scores[1].TeamScore;
                                                var image = ViewBag.mapsImages[i];
                                                <div class=" bordercolor backMap2" style="width:40% ;border-radius:15px;margin:auto;background-image:url(@image)" name="Maps">
                                                    <span style="text-align: center;margin-left:38%;font-weight:bold"> @ViewBag.pickedMaps[1] </span><br />
                                                    @if (nGames > 4)
                                                    {
                                                        @if (ViewBag.matches.Scores[0].TeamScore > 2)
                                                        {
                                                            Random rnd = new Random();
                                                            <span style="text-align: left;margin-left:38%;font-weight:700" class="span2"> 16 vs @rnd.Next(14) </span>
                                                        }
                                                        else
                                                        {
                                                            Random rnd = new Random();
                                                            <span style="text-align: left;margin-left:38%;font-weight:700" class="span2"> @rnd.Next(14) vs 16</span>
                                                        }
                                                        <br />
                                                    }
                                                    <p style="text-align: center;font-weight:bold;margin-bottom:0px "> Picked up by
                                                    <p style="text-align: center;margin-top:0px;margin-bottom:0px"> @ViewBag.matches.TeamsList[1].Name</p>
                                                    @if (nGames > 4)
                                                    {
                                                            Random rnd = new Random();
                                                        <p style="margin-top:1%;margin-bottom:2px;font-size:15px; margin-left:2%;"> Duration: @(rnd.Next(15) + 45) min    </p>
                                                    }
                                                </div>
                                            }
                                        }
                                    </div>
                                }
                            </div>
                        }

                        <div class="darkcolor bordercolor" style="border-radius:15px;margin-top:10%;">
                            <div style="width:100%;">
                                <br />
                                <div class="whiteText" style="font-weight:bold;font-size:20px;space-around; text-align:center;width:100%">
                                    <span style="margin-top:20px;">SCOREBOARD</span>
                                </div>
                                <div style="padding:3%;overflow-x:auto;">

                                    <table class="tableDetails" name="FirstTeam" style="width:100% !important;margin:auto;margin-bottom:5%; text-align:center">
                                        <tr>
                                            <a href="@Url.Action("getTeam", "Stats", new {id = @ViewBag.matches.TeamsList[0].TeamAPIID, type = @ViewBag.matches.TimeType.ToString().ToLower() ,game = ViewBag.dropDownGame})" style="justify-content: space-around; margin-left: auto; margin-bottom:0px">
                                            <th style="width:12%">@ViewBag.matches.TeamsList[0].Name</th>
                                            </a>
                                            <th class="headshot" style="width:12%" title="Kills">
                                                <img src="~/images/kills2.png" width="50%" />
                                            </th>
                                            <th class="headshot" style="width:12%" title="Assists">
                                                <img src="~/images/assists.png" width="60%" />
                                            </th>
                                            <th class="headshot" style="width:12%" title="Deaths">
                                                <img src="~/images/deaths2.png" width="40%" />
                                            </th>
                                            <th style="width:12%" title="K/D Ratio">K/D</th>
                                            <th class="headshot" style="width:12%" title="HeadShot %">
                                                <img src="~/images/headshot2.png" width="40%" />
                                            </th>
                                            <th style="width:12%" title="Kill per Round">KpR</th>
                                            <th style="width:12%" title="Average Damage per Round">ADR</th>
                                        </tr>
                                        @foreach (var item in @ViewBag.matches.TeamsList[0].Players)
                                        {
                                            @foreach (var valor in @ViewBag.matchesPlayer)
                                            {
                                                @if (item.Name == valor.PlayerName)
                                                {
                                                    <tr>
                                                        <td style="/*display:flex;*/ text-align:center">
                                                            @if (valor.PlayerName == ViewBag.MVP_Player)
                                                            {
                                                                <img src="~/images/mvp.png" style="width:50%" />
                                                            }
                                                            <p style="margin-bottom:0px">  @item.Name</p>
                                                        </td>
                                                        @*Kills*@
                                                        @if (valor.Kills > 0 && valor.Kills <= 10) {
                                                            <td style="color: #B71919">@valor.Kills</td>
                                                        } else if (valor.Kills > 10 && valor.Kills <= 19){
                                                            <td style="color: #CD8417">@valor.Kills</td>
                                                        } else if(valor.Kills > 19){
                                                            <td style="color: #11871D">@valor.Kills</td>
                                                        }
                                                        @*Assists*@
                                                        @if (valor.Assists > 0 && valor.Assists <= 3) {
                                                            <td style="color: #B71919">@valor.Assists</td>
                                                        } else if (valor.Assists > 3 && valor.Assists <= 7){
                                                            <td style="color: #CD8417">@valor.Assists</td>
                                                        } else if(valor.Assists > 7){
                                                            <td style="color: #11871D">@valor.Assists</td>
                                                        }
                                                        @*Deaths*@
                                                        @if (valor.Deaths > 0 && valor.Deaths <= 8) {
                                                            <td style="color: #11871D">@valor.Deaths</td>
                                                        } else if (valor.Deaths > 8 && valor.Deaths <= 16)  {
                                                            <td style="color: #CD8417">@valor.Deaths</td>
                                                        } else if (valor.Deaths > 16) {
                                                            <td style="color: #B71919">@valor.Deaths</td>
                                                        }
                                                        @*K/D ratio*@
                                                        @if (valor.KD_Diff> 0 && valor.KD_Diff <= 1) {
                                                            <td style="color: #B71919">@valor.KD_Diff</td>
                                                        } else if (valor.KD_Diff > 1 && valor.KD_Diff <= 2)  {
                                                            <td style="color: #CD8417">@valor.KD_Diff</td>
                                                        } else if (valor.KD_Diff > 2) {
                                                            <td style="color: #11871D">@valor.KD_Diff</td>
                                                        }
                                                        @*Headshots*@
                                                        @if (valor.HeadShots > 0 && valor.HeadShots <= 40) {
                                                            <td style="color: #B71919">@(String.Format("{0}{1}", valor.HeadShots, "%"))</td>
                                                        } else if (valor.HeadShots > 40 && valor.HeadShots <= 65)  {
                                                            <td style="color: #CD8417">@(String.Format("{0}{1}", valor.HeadShots, "%"))</td>
                                                        } else if (valor.HeadShots > 65) {
                                                            <td style="color: #11871D">@(String.Format("{0}{1}", valor.HeadShots, "%"))</td>
                                                        }
                                                        @*Kills per round*@
                                                        @{var kpr = Math.Round(((double)valor.Kills / (double)16), 2);}
                                                        @if (kpr > 0 && kpr <= 0.75) {
                                                            <td style="color: #B71919">@kpr</td>
                                                        } else if (kpr > 0.75 && kpr <= 1.25)  {
                                                            <td style="color: #CD8417">@kpr</td>
                                                        }
                                                        else if (kpr > 1.25)
                                                        {
                                                            <td style="color: #11871D">@kpr</td>
                                                        }
                                                        @*Average damage per round*@
                                                        @{var adr = Math.Round(((double)((double)valor.Kills / (double)16) * (double)100), 2);}
                                                        @if (adr > 0 && adr <= 40) {
                                                            <td style="color: #B71919">@adr</td>
                                                        } else if (adr > 40 && adr <= 65) {
                                                            <td style="color: #CD8417">@adr</td>
                                                        } else if (adr > 65) {
                                                            <td style="color: #11871D">@adr</td>
                                                        }
                                                    </tr>
                                                }
                                            }
                                        }
                                    </table>
                                    
                                    <table class="tableDetails" name="SecondTeam" style="width:100% !important;margin:auto;margin-bottom:5%; text-align:center">
                                        <tr>
                                            <th style="width:12%">@ViewBag.matches.TeamsList[1].Name</th>
                                            <th  class="headshot" style="width:12%" title="Kills">
                                                <img src="~/images/kills2.png" width="50%" />
                                            </th>
                                            <th  class="headshot" style="width:12%" title="Assists">
                                                <img src="~/images/assists.png" width="60%" />
                                            </th>
                                            <th  class="headshot" style="width:12%" title="Deaths">
                                                <img src="~/images/deaths2.png" width="40%" />
                                            </th>
                                            <th style="width:12%" title="K/D Ratio">K/D</th>
                                            <th class="headshot"  style="width:12%" title="HeadShot %">
                                                <img src="~/images/headshot2.png" width="40%" />
                                                @*</th>*@
                                            <th style="width:12%" title="Kill per Round">KpR</th>
                                            <th style="width:12%" title="Average Damage per Round">ADR</th>
                                        </tr>

                                        @foreach (var item in @ViewBag.matches.TeamsList[1].Players)
                                        {
                                            @foreach (var valor in @ViewBag.matchesPlayer)
                                            {
                                                @if (item.Name == valor.PlayerName)
                                                {
                                                    <tr>
                                                        <td style="/*display:flex;*/ text-align:center">
                                                            @if (valor.PlayerName == ViewBag.MVP_Player)
                                                            {
                                                                <img src="~/images/mvp.png" style="width:50%" />
                                                            }
                                                            <p style="margin-bottom:0px">  @item.Name</p>
                                                        </td>
                                                        @*Kills*@
                                                        @if (valor.Kills > 0 && valor.Kills <= 10) {
                                                            <td style="color: #B71919">@valor.Kills</td>
                                                        } else if (valor.Kills > 10 && valor.Kills <= 19){
                                                            <td style="color: #CD8417">@valor.Kills</td>
                                                        } else if(valor.Kills > 19){
                                                            <td style="color: #11871D">@valor.Kills</td>
                                                        }
                                                        @*Assists*@
                                                        @if (valor.Assists > 0 && valor.Assists <= 3) {
                                                            <td style="color: #B71919">@valor.Assists</td>
                                                        } else if (valor.Assists > 3 && valor.Assists <= 7){
                                                            <td style="color: #CD8417">@valor.Assists</td>
                                                        } else if(valor.Assists > 7){
                                                            <td style="color: #11871D">@valor.Assists</td>
                                                        }
                                                        @*Deaths*@
                                                        @if (valor.Deaths > 0 && valor.Deaths <= 8) {
                                                            <td style="color: #11871D">@valor.Deaths</td>
                                                        } else if (valor.Deaths > 8 && valor.Deaths <= 16)  {
                                                            <td style="color: #CD8417">@valor.Deaths</td>
                                                        } else if (valor.Deaths > 16) {
                                                            <td style="color: #B71919">@valor.Deaths</td>
                                                        }
                                                        @*K/D ratio*@
                                                        @if (valor.KD_Diff> 0 && valor.KD_Diff <= 1) {
                                                            <td style="color: #B71919">@valor.KD_Diff</td>
                                                        } else if (valor.KD_Diff > 1 && valor.KD_Diff <= 2)  {
                                                            <td style="color: #CD8417">@valor.KD_Diff</td>
                                                        } else if (valor.KD_Diff > 2) {
                                                            <td style="color: #11871D">@valor.KD_Diff</td>
                                                        }
                                                        @*Headshots*@
                                                        @if (valor.HeadShots > 0 && valor.HeadShots <= 40) {
                                                            <td style="color: #B71919">@(String.Format("{0}{1}", valor.HeadShots, "%"))</td>
                                                        } else if (valor.HeadShots > 40 && valor.HeadShots <= 65)  {
                                                            <td style="color: #CD8417">@(String.Format("{0}{1}", valor.HeadShots, "%"))</td>
                                                        } else if (valor.HeadShots > 65) {
                                                            <td style="color: #11871D">@(String.Format("{0}{1}", valor.HeadShots, "%"))</td>
                                                        }
                                                        @*Kills per round*@
                                                        @{var kpr = Math.Round(((double)valor.Kills / (double)16), 2);}
                                                        @if (kpr > 0 && kpr <= 0.75) {
                                                            <td style="color: #B71919">@kpr</td>
                                                        } else if (kpr > 0.75 && kpr <= 1.25)  {
                                                            <td style="color: #CD8417">@kpr</td>
                                                        }
                                                        else if (kpr > 1.25)
                                                        {
                                                            <td style="color: #11871D">@kpr</td>
                                                        }
                                                        @*Average damage per round*@
                                                        @{var adr = Math.Round(((double)((double)valor.Kills / (double)16) * (double)100), 2);}
                                                        @if (adr > 0 && adr <= 40) {
                                                            <td style="color: #B71919">@adr</td>
                                                        } else if (adr > 40 && adr <= 65) {
                                                            <td style="color: #CD8417">@adr</td>
                                                        } else if (adr > 65) {
                                                            <td style="color: #11871D">@adr</td>
                                                        }
                                                    </tr>
                                                }
                                            }
                                        }
                                    </table>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="alinhar, darkcolor" style="">
                        <div class="my-div2" style="width:80%;">
                        </div>

                    </div>
                </div>
            </div>

            @* ---------------------------------------------------------------------------*@

            <div class="box1" style="border-radius:15px;">
                <div class="borders bordercolor darkcolor" style="border-radius:15px">
                    <a style="text-decoration: none" href="@Url.Action("getTeam", "Stats", new {id = @ViewBag.matches.TeamsList[1].TeamAPIID, type = @ViewBag.matches.TimeType.ToString().ToLower() ,game = ViewBag.dropDownGame})" style="justify-content: space-around; margin-left: auto; margin-bottom:0px">
                        <h4 style="font-weight: bold;text-align:center;">@ViewBag.matches.TeamsList[1].Name</h4>
                    </a>
                    @if (((List<Player>)@ViewBag.matches.TeamsList[1].Players).Count() != 0)
                    {
                        @foreach (var item in @ViewBag.matches.TeamsList[1].Players)
                        {
                            <div style="display:flex;align-items: center;">
                                <div class="" style="padding:10px;width:50%;text-align:right">
                                    <a style="text-decoration: none" href="@Url.Action("getPlayer", "Stats", new {id = item.PlayerAPIId, type = @ViewBag.matches.TimeType.ToString().ToLower() ,game = ViewBag.dropDownGame})" style="justify-content: space-around; margin-left: auto; margin-bottom:0px">
                                        <img src=@item.Image style="width:50%;height:auto" />
                                    </a>
                                </div>
                                <div style="width:50%; text-align:left">
                                    <a style="text-decoration: none" href="@Url.Action("getPlayer", "Stats", new {id = item.PlayerAPIId, type = @ViewBag.matches.TimeType.ToString().ToLower() ,game = ViewBag.dropDownGame})" style="justify-content: space-around; margin-left: auto; margin-bottom:0px">
                                        <p style="margin:auto"> @item.Name </p>
                                    </a>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <span>No Players Found</span>
                    }
                </div>
                <div class="borders bordercolor darkcolor" style="border-radius:15px;margin-top:5%">
                    <h4 style="text-align:left">
                        Streams
                    </h4>
                    @if (((List<FPTV.Models.MatchesModels.Stream>)@ViewBag.matches.StreamList).Count() != 0)
                    {
                        @foreach (var item in @ViewBag.matches.StreamList)
                        {
                            <a target="_blank" style="text-decoration: none" href=@item.StreamLink>
                                <div style="display:flex;align-items: center;margin-bottom:5%">
                                    <div class="" style="width:35%;text-align:left">
                                        <img src=@item.StreamLanguage style="width:50%" />
                                    </div>
                                    <div style="width:100%; text-align:left">
                                        <p style="margin:auto"> @item.StreamLink.Substring(22)</p>
                                    </div>
                            
                                </div>
                            </a>
                        }
                    }
                    else
                    {
                        <span>No Streams Found</span>
                    }
                </div>
            </div>
        </div>
    </div>
</body>