@{
	ViewData["Title"] = "Results";
}
<!DOCTYPE html>


<html>
	<style>
		.central {
			width: 100%;
			margin: 0 auto;
			text-align: center;
			height:100%;
			
		}

		.center {
			display: flex;
			justify-content: center;
			align-items: center;
		}

		h1 {
			font-size: 36px;
			margin-bottom: 30px;
		}
		.buttons {
			display: flex;
			justify-content: center;
			margin-bottom: 30px;
		}
		.button {
			
			margin-left:10px;
			background-color: #e0eeff;
			color: black;
			border: none;
			border-radius: 5px;
			cursor: pointer;
			transition: all 0.2s ease-in-out;
			border: 1px solid black;
		}

		.button2 {
			background-color: #e0eeff;
			color: black;
			width:100%;
			padding: 10px 20px;
			
		
		}
		.button:hover {
			background-color: #2980b9;
		}
		.my-div {
			width:100%;
			display: flex;
			flex-direction: row;
			height: 50px;
			margin: 10px;
		}
		.my-div > div {
			flex-basis: 25%;
			flex-grow: 1;
			
		}
		.btn123{
			color:black;
			width: 90%;
			display: flex;
			flex-direction: row;
			border-bottom: 1px solid black;
			border-radius: 15px;
		}
		span{
			font-weight:bold;
		}

		.span2 {
			font-weight: normal;
		}
		.dropdown {
			margin-left:10px;
			background-color: #e0eeff;
			color: #fff;
			border: none;
			border-radius: 5px;
			cursor: pointer;
			transition: all 0.2s ease-in-out;
			border: 1px solid black;
		}

		.dropdown-content {
			display: none;
			position: absolute;
			z-index: 1;
			margin-left:5%;
			margin-top: 2px;
			
		}

		.dropdown:hover .dropdown-content {
			display: block;
		}

		.dropdown-content a {
			background-color:white;
			display: block;
			color: #000;
			padding: 10px;
			text-decoration: none;
			border: 1px solid black;
		}

		.dropdown-content a:hover {
			background-color: #bf7b8e;
		}

		.search-container {
			display: flex;
			align-items: center;
		}

		.search-container input[type="text"] {
			background-color: #e0eeff;
			color: black;
			width:100%;
			padding: 10px 20px;
			border:1px solid black;
			
		}

		.search-container img {
			margin-right: 10px;
			height: 30px;
			width: 30px;
		}

		::placeholder {
			color: green;
		}

</style>

<body class="bodytemp whiteText">
	
	<div class="central">

		<div style="display:flex; margin-bottom:3%">
			<button class="btnResult bordercolor" style="">
                <a href="@Url.Action("Results", "Matches", new { days = 1, game = ViewBag.dropDownGame})">Results of Yesterday</a>
			</button>

			<button class="btnResult selectedbtn bordercolor" style="">
				<a href="@Url.Action("Results", "Matches", new { game = ViewBag.dropDownGame})">Results of Today</a>
            </button>

			<button class="btnResult bordercolor">
				<form method="post" action="@Url.Action("Results", "Matches", new {game = ViewBag.dropDownGame})">
					<input class="bordercolor dark" type="text" name="days" placeholder="2 to 365 days ago" required style="width:53%; padding:1px;">
					@**Days Ago
					<div style="font-size:13px;"> *2 to 365 days</div>*@
				</form>
			</button>

		</div>

		<div class="center bordercolor colorformatch " style=";width:100%; padding:1%;">
			
				<table class=" bordercolor" style="width:100%; border-radius:15px;" >

				@foreach (var item in ViewBag.matches)
                {
					<tr style="border:1px solid black;">
						<td>@item.TeamsList[0].Name</td>
						<td>
							<img src=@item.TeamsList[0].Image style="width:40px; margin:auto; height:40px;" />
						</td>
						<td>
							@foreach (var team in item.Scores)
							{
								@if (item.TeamsList[0].Name == team.TeamName)
								{
									@team.TeamScore
								}
							}
							<span class="span2"> - </span>
							@foreach (var team in item.Scores)
							{
								@if (item.TeamsList[0].Name == team.TeamName)
								{
									@team.TeamScore
								}
							}
						</td>
						<td>
							<img src=@item.TeamsList[1].Image style="width:40px; margin:auto; height:40px;" />
						</td>
						<td> @item.TeamsList[1].Name </td>
						<td> @item.EventName</td>
						<td>
							<img src=@item.Event.EventImage style="width:40px; margin:auto; height:40px;" />
						</td>
                    </tr>
				}
				</table>
			</div>
		</div>
	</div>
</body>
</html>

