@{
    ViewData["Title"] = "Stats";
}
<!DOCTYPE html>

<head>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<style>
	.central {
		width: 100%;
		margin: 0 auto;
		text-align: center;
		height: 100%;
	}

	.center {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	tr, td, th {
		border-width: 1px;
	}

	 /* Styles for mobile screens */
    

</style>
<html>
<body class="bodytemp bodyquery" style="width:100%">
	<!------------------stats--------------------------------------------->
	<div class="box darkcolor bordercolor marginbottomRes" style="width:90%;text-align: center; border-radius:15px;margin-top:0px;margin:auto">
		<br>
		<h2 style="font-weight: bold;" id="toTranslate">Website Stats</h2>
		<br>
		<table style="width:90%; margin-left: auto; margin-right: auto;">
			<tr>
				<th style="width: 25%;" id="toTranslate">Number of registered accounts</th>
				<th style="width: 25%;" id="toTranslate">Daily flow of users</th>
				<th style="width: 25%;" id="toTranslate">Nationality with the most registered accounts</th>
				<th style="width: 25%; text-transform: capitalize;" id="toTranslate">Most consulted game</th>
			</tr>
			<tr>
				<td> <b id="noOfAccounts">@ViewData["accounts"]</b> <span id="accountText"> @ViewData["account_txt"] </span> </td>
				<td> <b id="noOfVisitors">@ViewData["visitors"]</b> <span id="visitorsText"> @ViewData["visitors_txt"] </span> </td>
				<td> <b id="country"> @ViewBag.Country</b> <br><span id="countryText"> @ViewBag.Number <span style="text-transform: capitalize" id="toTranslate">Accounts</span> </span> </td>
				@{
					Random _random = new Random();
					var ranking = new[] { 51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,68,69,70,71,72,73,74,75 };
				}
				<td> <b id="game"> CS:GO </b> <br><span id="gameText"> @ranking[_random.Next(ranking.Length)]% </span> </td>
			</tr> 
		</table>
		<br>
	</div>
</body>

</html>

