@using Microsoft.AspNetCore.Mvc.ViewEngines
@inject ICompositeViewEngine Engine

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FPTV</title>
	<link rel="stylesheet" type="text/css" href="~/css/siteDARK.css" asp-append-version="true" />
	
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> 
    <link rel="stylesheet" href="~/FPTV.styles.css" asp-append-version="true" />
    <link rel="icon" type="image/png" href="~/favicon.ico" />

		<script>
			/*window.onload = function(e)
			{
				var url = window.location.href;

				if (url.includes("/Results")) {
					var menuTab1 = document.getElementsByClassName("nav-link text-dark resultsButton");
					menuTab1.style.fontWeight = "bold";
				} else if (url.includes("Matches/")) {
					var menuTab2 = document.getElementsByClass("nav-link text-dark matchesButton");
					menuTab2.style.fontWeight = "bold";
				} else if (url.includes("Events/")) {
					var menuTab3 = document.getElementsById("nav-link text-dark eventsButton");
					menuTab3.style.fontWeight = "bold";
				} else if (url.includes("Forum/")) {
					var menuTab4 = document.getElementsById("nav-link text-dark forumButton");
					menuTab4.style.fontWeight = "bold";
				} else if (url.includes("/About")) {
					var menuTab5 = document.getElementsById("nav-link text-dark aboutButton");
					menuTab5.style.fontWeight = "bold";
				}
			};*/

		//	if (elem != currElem) { //do thing if you're clicking on a bold link
		//		if (currElem) //if a link bold right now unbold it
		//			currElem.style.fontWeight = 'normal';
		//		currElem = elem; //assign this element as the current one
		//		elem.style.fontWeight = 'bold';  //make the element clicked bold
		//	}
		</script>
		<script src="https://js.pusher.com/4.0/pusher.min.js"></script>
		<script>
			// Enable pusher logging - don't include this in production
			Pusher.logToConsole = true;

			var pusher = new Pusher('PUSHER_APP_KEY', {
				cluster:'PUSHER_APP_CLUSTER'
			});

			var channel = pusher.subscribe('general');

			channel.bind('newVisit', function(data) {

			  var visits = data.visits;
			  var message = data.message;
			  $('#noOfVisitors').text( visits );
			  $('#visitorsText').text( message );
			});
		</script>
		<script src="~/lib/jquery/dist/jquery.min.js"></script>
		<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
		<script src="~/js/site.js" asp-append-version="true"></script>

    <style>
		#buttonMenu:hover {
			background-color: transparent;
			border: 2px solid #DE3C3C;
			border-radius: 20px;
			-webkit-transition: all .15s ease-in-out;
			transition: all .15s ease-in-out;
			color: #DE3C3C;
			box-shadow: 0 0 5px 0 #DE3C3C inset, 0 0 10px 1px #DE3C3C;
		}

		.leftitem{
			justify-content:flex-end;
		}

		.btndrop{
			background-color: transparent;
			border-radius: 20px;			
		}

		
    </style>
</head>
<body>
	

<header>
		<div>
			<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3" style="margin-top: -5px;width:100%;text-align:center">
				<div class="container-fluid" style="width:100%">
					<a href="@Url.Action("Index", "Home", new { game = ViewBag.dropDownGame})"><img class="logo" src="~/images/iconMenu.jpg" style="width: 85px; height: 100%;"></a>
					@*<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img class="logo" src="~/images/iconMenu.jpg" style="width: 85px; height: 100%;"> </a>*@
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
							aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
					<div style="width:100%; display:flex;">
				<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between" style="margin:auto; text-align:center;">
					<ul class="navbar-nav flex-grow-1" style="display:flex;">
						<li class="nav-item" id="menu" style="width:20%; margin:auto">
							@*-----------------------------dropdown para CSGO e VALORANT-------------------------*@

							<div class="dropdown123" style=" width:100%;">
									@if (ViewBag.dropDownGame == "csgo")
									{
										<a class="nav-link text-dark" id="buttonMenu" style="font-weight:bold ; font-size: 24px; " asp-area="Home" asp-controller="Home" asp-action="Index">CS:GO</a>
									}
									else
									{
										<a class="nav-link text-dark" id="buttonMenu" style="font-weight:bold ; font-size: 24px; " asp-area="Home" asp-controller="Home" asp-action="Index">VALORANT</a>
									}
									<div class="dropdownContent12 bordercolor " style="background-color:white;padding:1%;margin-left:5px">

									<a class="dropdownItem1 bordercolor" style="display:flex;border-radius:15px;width:100%;padding:2%; text-decoration:none;">
										<button class="btndrop"  style="width:100%;text-align:center">
													<div style="text-decoration:none;">
														<a href="@Url.Action("VALORANT", "Home", new { game = ViewBag.dropDownGame, page = ViewBag.page})">VALORANT</a>
														@*<span class="" style="color:black ; font-weight:bold ; width:100%;margin:auto"><a asp-area="Home" asp-controller="Home" asp-action="VALORANT">VALORANT</a></span>*@
											</div>
										</button>
									</a>

									<a class="dropdownItem1 dropselected bordercolor" style="display:flex;border-radius:15px;width:100%;padding:2%; text-decoration:none;margin-top:3px">
										<button class="btndrop"  style="width:100%;text-align:center">
													<div style="text-decoration:none;">
														<a href="@Url.Action("CSGO", "Home", new { game = ViewBag.dropDownGame, page = ViewBag.page})">CS:GO</a>
														@*<span class="" style="color:black ; font-weight:bold ; width:100%;margin:auto"><a asp-area="Home" asp-controller="Home" asp-action="CSGO">CS:GO</a></span>*@
											</div>
										</button>
									</a>
											
								</div>
							</div>
						</li>
						@*-------------------------------------------------------------*@
						<li class="nav-item" id="menu" style="width:20%; margin:auto">
							<a href="@Url.Action("Matches", "Home", new { game = ViewBag.dropDownGame})">Matches</a>
							@*<a class="nav-link text-dark matchesButton" id="buttonMenu" style="font-size: 24px;" asp-area="" asp-controller="Home" asp-action="Matches">Matches</a>*@
						</li>
						<li class="nav-item" id="menu" style="width:20%; margin:auto">
							<a href="@Url.Action("Results", "Home", new { game = ViewBag.dropDownGame})">Results</a>
									@*<<a class="nav-link text-dark resultsButton" id="buttonMenu" style="font-size: 24px;" asp-area="" asp-controller="Home" asp-action="Results">Results</a>*@
						</li>
						<li class="nav-item" id="menu" style="width:20%; margin:auto">
							<a href="@Url.Action("Events", "Home", new { game = ViewBag.dropDownGame})">Events</a>
									@*<<a class="nav-link text-dark eventsButton" id="buttonMenu" onclick="" style="font-size: 24px;" asp-area="" asp-controller="Home" asp-action="Events">Events</a>*@
						</li>
						<li class="nav-item" id="menu" style="width:20%; margin:auto">
								<a class="nav-link text-dark forumButton" id="buttonMenu" style="font-size: 24px;" asp-area="" asp-controller="Home" asp-action="Index">Forum</a>
						</li>
						<li class="nav-item" id="menu" style="width:20%; margin:auto">
								<a class="nav-link text-dark aboutButton" id="buttonMenu" style="font-size: 24px;" asp-area="" asp-controller="Home" asp-action="CSGOStats">About</a>
						</li>
								
					</ul>
				</div>

					<div class="navbar-nav flex-grow-1" style="justify-content: end;">
						
					@{
						var result = Engine.FindView(ViewContext, "_LoginPartial", isMainPage: false);
					}
					@if (result.Success)
					{
						await Html.RenderPartialAsync("_LoginPartial");
					}
					else
					{
						throw new InvalidOperationException("The default Identity UI layout requires a partial view '_LoginPartial' " +
						"usually located at '/Pages/_LoginPartial' or at '/Views/Shared/_LoginPartial' to work. Based on your configuration " +
						$"we have looked at it in the following locations: {System.Environment.NewLine}{string.Join(System.Environment.NewLine, result.SearchedLocations)}.");
					}
				</div>
					</div>
			</div>
		</nav>
	</div>
</header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

	<footer class="border-top footer text-muted" style="background-color: white;">
		<div class="container" style="color: black; margin-left: 4%">
			&copy; 2023 - FPTV - <a asp-area="" style="color: black;" asp-controller="Home" asp-action="Privacy">Privacy</a>
		</div>
	</footer>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>